<div class="card mb-3">

  <p style="color: green"><%= notice %></p>

  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0 card-title" data-anchor="data-anchor">Unidades do estabelecimento: <%= @estabelecimento.nome %></h5>
      </div>
      <div class="col-auto ms-auto">
        <%= link_to "Novo", new_estabelecimento_unidade_path(@estabelecimento), data: { turbo_frame: "new_unidade" }, class: "btn btn-success me-1 mb-1" %>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag "new_unidade", target: "_top" %>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= render @unidades %>
        </div>
      </div>
    </div>
  </div>
</div>
