<div class="col-2">

<div id="<%= dom_id escaladay %>">
  <div class="card">
      <% if escaladay.data.wday == 1 %>
        <div class="card-title badge bg-warning">
      <% end %>
      <% if escaladay.data.wday == 2  %>
        <div class="card-title badge bg-dark">
      <% end %>
      <% if escaladay.data.wday == 3 %>
        <div class="card-title badge bg-info">
      <% end %>
      <% if escaladay.data.wday == 4 %>
        <div class="card-title badge bg-primary">
      <% end %>
      <% if escaladay.data.wday == 5 %>
        <div class="card-title badge bg-success">
      <% end %>
      <% if escaladay.data.wday == 6 %>
        <div class="card-title badge bg-danger" style="--bs-bg-opacity: .4;">
      <% end %>
      <% if escaladay.data.wday == 0 %>
        <div class="card-title badge bg-danger">
      <% end %>
      <%= "#{escaladay.data.day.to_s}" %>
      <%= localize(escaladay.data.to_date, format: "%a") %>
    </div>
    <div class="card-body">
      <% escaladay.escalas.each do |ee| %>
        <%= "Turno: #{ee.turno.hora_inicio.hour}-#{ee.turno.hora_fim.hour}" %> </br>
        <% ee.escalamembros.each do |m| %>
          <%= m.membro.nome_chamado %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
