<div class="row flex-center min-vh-100 py-6">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
    <a class="d-flex flex-center mb-4" href="<%= root_path%>">
      <span class="font-sans-serif fw-bolder fs-5 d-inline-block"><%= Rails.application.class.module_parent_name %></span>
    </a>
    <div class="card">
      <div class="card-body p-4 p-sm-5">
        <div class="row flex-between-center mb-2">
          <div class="col-auto">
            <h5>Registrar</h5>
          </div>
          <div class="col-auto fs--1 text-600">
            <span class="mb-0 undefined">Já tem uma conta ?</span>
            <span>
              <%= link_to "Logar", new_session_path(resource_name) %>
            </span>
          </div>
        </div>
        <%= simple_form_sh(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render 'shared/erros_cadastros', registro: resource %>
          <%= f.input :nome,
                required: true,
                autofocus: true,
                placeholder: "Nome",
                input_html: { autocomplete: "email" }%>
          <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "Email",
                input_html: { autocomplete: "email" }%>
          <div class="row gx-2">
            <%= f.input :password,
                        required: true,
                        placeholder: "Senha",
                        input_html: { autocomplete: "new-password" },
                        wrapper_html: { class: 'col-sm-6' } %>
            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: "Confirmação",
                        input_html: { autocomplete: "new-password" },
                        wrapper_html: { class: 'col-sm-6' } %>
          </div>
          
          <div class="row flex-between-center">
            <div class="col-auto">
              <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="col-auto">                          
            <%= render "devise/shared/link_esqueceu_senha"%>
          </div>

          <div class="mb-3">
            <%= f.button :submit, "Registrar", class: "btn btn-primary d-block w-100 mt-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
