<div class="conselhoclass-card">
  <%= form_with(model: equipe) do |form| %>
    <% if equipe.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(equipe.errors.count, "error") %> prohibited this equipe from being saved:</h2>

        <ul>
          <% equipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row match-height">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <form class="form">
                <div class="row g-2">
                  <div class='col-md-6 col-12'>
                    <%= form.label :nome, style: "display: block" %>
                    <%= form.text_field :nome, class: 'form-control', required: true %>
                  </div>

                  <div class='col-md-6 col-12'>
                    <%= form.label :tipo_escala, style: "display: block" %>
                    <%= form.select :tipo_escala, options_for_select(@tipos_escala), {prompt: 'Selecione'} , { class: "form-control form-select", required: true } %>
                  </div>
                  <div class="col-md-6 col-12">
                    <%= form.label :unidade, style: "display: block" %>
                    <% form.select :unidade_id, @unidades, {include_blank: true }, { class: "form-control " ,  data: { controller: 'slim'}  } %>
                    <%= form.select :unidade_id, @unidades, {include_blank: true}, {data: {controller: 'slim'}} %>
                  </div>

                  <div class='row'>
                    <div class='col-12'><b>Horários</b></div>
                  </div>
                  <div class='row'>
                    <div class='col-md-2 col-4'>Ordem</div>
                    <div class='col-md-2 col-4'>Inicio</div>
                    <div class='col-md-2 col-4'>Fim</div>
                  </div>

                  <%= form.fields_for :turnos do |turno_form| %>
                    <%= render 'turno_fields', turno_form: turno_form %>
                  <% end%>

                  <div class="col-12 d-flex justify-content-end">
                    <%= form.submit "Gravar", class: "btn btn-primary me-1 mb-1" %>
                    <%= link_to "Cancelar", equipes_path, class: "btn btn-light-secondary me-1 mb-1" %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>