<p style="color: green"><%= notice %></p>

<div class="card mb-3">
  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-12 order-md-1 order-last">
        <h3>Escala plantão equipe: <%= @escalacmpt.equipe.nome %></h3>
        <p class="text-subtitle text-muted">Escala do mês <%= @escalacmpt.cmpt_formatada %>.</p>
      </div>
    </div>
  </div>

  <%= form_with url: escalacmpt_path(@escalacmpt), 
                method: :get, 
                data: { turbo_frame: 'escalacmpt_body' } do |f| %>
    <div class="row">    
      <div class="col-md-4 col-12">
        <div class="input-group mb-3 ms-3">
          <%= f.select :membro_id, 
                options_for_select(@membros, params[:membro_id]), 
                { prompt: "Filtre um membro da equipe..."}, 
                { class: "form-control", placeholder: "Membro", title: "Membro" } %>
          <div class="input-group-append">
            <%= f.button :submit, class: "btn btn-outline-secondary" do %>
              <%= content_tag :i, "", class: "fas fa-search" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <%= turbo_frame_tag "resumo_frame", target: "_top" do %>
          <%= link_to "Resumo", escalacmpt_resumo_path(@escalacmpt), data: { turbo_frame: "resumo_frame" }, class: "btn btn--primary" %>
        <% end %>
      </div>
    </div>                      <br/>

  <% end %>

  <div id="escala">
      <table class="table table-bordered" width="50%">
        <thead>
          <tr>
            <th width=14%><div class="badge bg-danger">Domingo</div></th>
            <th width=14%><div class="badge bg-secondary">Segunda</div></th>
            <th width=14%><div class="badge bg-secondary">Terça</div></th>
            <th width=14%><div class="badge bg-secondary">Quarta</div></th>
            <th width=14%><div class="badge bg-secondary">Quinta</div></th>
            <th width=14%><div class="badge bg-secondary">Sexta</div></th>
            <th width=14%><div class="badge bg-danger">Sábado</div></th>
          </tr>
        </thead>
        <tbody>
          <% coluna = 0 %>
          <tr>
          <% @escalacmpt.escaladays.each_with_index do |d, i| %>
            <% if i == 0 && d.data.wday != 0 %>
              <% d.data.wday.times do %>
                <td></td>
              <% end %>
            <% end %>
            <% if d.data.wday == 0 && i != 0 %>
              </tr><tr>
            <% end %>
            <td class="align-top">
              <div class="badge bg-warning">
                <b><%= d.data.day.to_s %></b>
              </div>
              <% d.escalas.each do |t| %>
                <div class="text-end small" >
                  <i class="fas fa-clock me-2"></i>
                  <%= t.turno.hora_inicio.strftime("%H:%M") %>
                </div>
                <% t.escalamembros.each do |m| %>
                  <% unless params[:membro_id].present? && params[:membro_id].to_i != m.membro_id %>
                    <span class="fst-italic">
                      <%= image_tag m.membro.foto_url, size: "20x20" if m.membro.foto_data %>
                      <%= m.membro.nome_chamado %>
                      <br/>
                    </span> 
                  <% end %>
                <% end %>
                <br/>
              <% end %>
            </td>
            <% coluna += 1 %>
          <% end %>
          </tr>
        </tbody>
      </table>
      <% if can? :manage, @escalacmpt %>
        <div class="card">
          <div class="row match-height">
            <div class="col-1">
              <%= link_to "Editar", edit_escalacmpt_path(@escalacmpt), class: "btn btn-primary me-1 mb-1" %>
            </div>
            <div class="col-1">
              <%= button_to "Excluir", @escalacmpt, form: { data: { turbo_confirm: "Você tem certeza que deseja excluir?" } }, method: :delete,  class: "btn btn-danger me-1 mb-1" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
