<%= simple_form_sh @user do |f| %> 

  <%= render "shared/erros_cadastros", registro: @user %>

  <%= f.input :role, 
      as: :radio_buttons,
      collection: User.roles.map { |key, value| [key.humanize, key] }, 
      placeholder: "Papel", 
      label: "Papel do usuário",
      title: "Papel do usuário nesse aplicativo" %>
  <%= f.input :name,
        required: true,
        autofocus: true,
        placeholder: "Nome",
        label: "Nome" %>
  <%= f.input :nome_chamado,
        required: true,
        autofocus: true,
        placeholder: "Nome Chamado", 
        title: "Nome como é chamado, ex: Dr. João" %>
  <%= f.input :cpf,
        required: true,
        autofocus: true,
        placeholder: "CPF",
        label: "CPF",
        input_html: { autocomplete: "false", maxlength: 11 } %>
  <%= f.input :email,
        required: true,
        autofocus: true,
        placeholder: "Email",
        input_html: { autocomplete: "false" } %>
  <%= f.input :sexo, 
        as: :radio_buttons,
        collection: @sexos, 
        placeholder: "Sexo" %>
  <%= f.input :profissao, 
        autofocus: true, 
        placeholder: "Profissão" %>

  <div class="card mb-3">
    <div class="card-body">
      <div class="card-title">Registro no conselho</div>
        <div class="row gx-3">
          <%= f.input :conselhoclass_id, 
                collection: @conselhoclasses, 
                placeholder: "",
                label: "Conselho Classe",
                wrapper_html: { class: 'col-sm-5' } %>
          <%= f.input :numero_conselho,
                autofocus: true, 
                placeholder: "",
                title: "Número de registro no conselho profissional",
                wrapper_html: { class: 'col-sm-4' } %>
          <%= f.input :uf_conselho_id, 
                collection: @ufs, 
                placeholder: "UF",
                title: "UF do conselho do registro",
                wrapper_html: { class: 'col-sm-3' } %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 border h-100 border-warning">
    <div class="card-body">
      <div class="card-title">Autenticação<small class="text-warning"> (só altere se necessário)</small></div>
        <div class="row gx-2">
          <%= f.input :password,
                      required: true,
                      placeholder: "Senha",
                      input_html: { autocomplete: "off" },
                      wrapper_html: { class: 'col-sm-6' } %>
          <%= f.input :password_confirmation,
                      required: true,
                      placeholder: "Confirmação",
                      input_html: { autocomplete: "off" },
                      wrapper_html: { class: 'col-sm-6' } %>
          <% unless @user.new_record? %>
            <small>Deixe os campos da nova senha em branco caso não queira alterar</small>
          <%end%>
        </div>
      </div>
    </div>
  </div> 
  <%= f.input :foto, 
        input_html: { direct_upload: true } %>
  <div class="mt-3 mb-3">
    <%= f.submit "Gravar", class: "btn btn-primary" %>
  </div>
<% end %>

