<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="row gx-1 align-items-center">
    
    <%= f.input :data_inicio,  as: :string, input_html: { type: :date },
                autofocus: true, 
                placeholder: "Data início",
                label: "Data Início",
                wrapper_html: { class: 'col-sm-2' } %>

    <%= f.input :data_fim,  as: :string, input_html: { type: :date },
                autofocus: true, 
                placeholder: "Data fim",
                title: "Data fim",
                wrapper_html: { class: 'col-sm-2' } %>

    <%= f.input :dia_semana, 
                collection: UserIndisp.dias_semanas.map { |k, v| [k, v] }, 
                placeholder: "",
                label: "Dia da Semana",
                wrapper_html: { class: 'col-sm-2' } %>

    <%= f.input :hora_inicio,  as: :string,
                input_html: { type: :time, value: f.object.hora_inicio&.strftime("%H:%M") },
                autofocus: true, 
                placeholder: "Hora início",
                label: "Hora Início",
                wrapper_html: { class: 'col-sm-2' } %>
  
    <%= f.input :hora_fim,  as: :string, 
                input_html: { type: :time, value: f.object.hora_fim&.strftime("%H:%M") },
                autofocus: true, 
                placeholder: "Hora fim",
                label: "Hora fim",
                wrapper_html: { class: 'col-sm-2' } %>

    <%= f.input :obs, 
                autofocus: true, 
                placeholder: "",
                title: "Obs",
                wrapper_html: { class: 'col-sm-4' } %>

    <%= f.hidden_field :_destroy %>

    <div class="col-sm-2">
      <%= link_to "Remove", "javascript:void(0)", 
          data: { action: "click->nested-form#remove" },
          class: "btn btn-danger btn-sm ms-2" %>
    </div>

  </div>

</div>