<p style="color: green"><%= notice %></p>

<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Usuários</h3>
        <p class="text-subtitle text-muted">Mantém o cadastro dos usuários que acessam o aplicativo.</p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout Page</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <%= link_to " Novo", new_user_registration_path, class: "fa fa-plus-circle text-success p-2 fw-bold" %>
      </div>
      <div class="col-md-6 col-12">
        <div class="form-group position-relative has-icon-right">
          <input type="text" class="form-control" placeholder="Procurar...">
          <div class="form-control-icon">
            <i class="bi bi-funnel"></i>
          </div>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="row" id="table-striped-dark">
        <div class="col-12">
          <div class="card">
            <div class="card-content">
              <!-- table strip dark -->
              <div class="table-responsive">
                <table class="table table-based">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>e-mail</th>
                      <th>Criado em</th>
                      <th>Alterado em</th>
                    </tr>
                  </thead>
                  <% @users.each do |user| %>
                    <tbody>
                      <tr>
                        <td class="text-bold-500"><%= user.name %></td>
                        <td><%= link_to user.email, user_path(user) %></td>
                        <td class="text-bold-500"><%= user.created_at.strftime('%d/%m/%y %H:%M') %></td>
                        <td><%= user.updated_at.strftime('%d/%m/%y %H:%M') %></td>
                      </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>