<div class="card mb-3">

  <p style="color: green"><%= notice %></p>

  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5>Membros Equipe <%= @equipe.nome %></53>
        <p class="text-subtitle text-muted">Mantém o cadastro das membros que trabalham nas Unidades de Saúde.</p>
      </div>
      <div class="col-auto ms-auto">
        <%= link_to "Novo", new_equipe_membro_path(@equipe), data: { turbo_frame: "new_membro" }, class: "btn btn-success me-1 mb-1" %>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag "new_membro", target: "_top" %>

  <div id="membro">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- table strip dark -->
            <%= render @membros %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
