<div class="col-xxl-6 col-lg-6 order-xxl-1">
  <div class="card h-100">
    <div class="card-header">
      <h6 class="mb-0"><%= titulo %> escalas/Check-in</h6>
    </div>
    <div class="card-body scrollbar recent-activity-body-height ps-2">
      <div class="table-responsive scrollbar">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Escala</th>
              <th scope="col">Equipe</th>
              <th class="text-end" scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <% plantoes.each do |plantao| %>
              <tr>
                <td><i class="fas fa-clock"></i>
                  <small><%= "#{plantao.inicio.strftime("%d/%m")} #{plantao.inicio.strftime("%H:%M")}-#{plantao.fim.strftime("%H%M")}" %></small></td>
                <td><%= plantao.nome_equipe %></td>
                <td class="text-end">
                  <% if plantao.check_in? || plantao.check_out?%>
                    <small>
                      <i class="fas fa-sign-in-alt"></i>
                      <%= "#{plantao.check_in.strftime("%d/%m")} #{plantao.check_in.strftime("%H:%M")}" if plantao.check_in? %>
                      <br/>
                      <%= "#{plantao.check_out.strftime("%d/%m")} #{plantao.check_out.strftime("%H:%M")}" if plantao.check_out? %>
                      <i class="fas fa-sign-out-alt"></i>
                    </small>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-footer bg-body-tertiary p-0">
          <a class="btn btn-sm btn-link d-block py-2" href="#!">See all projects<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a>
        </div>
      </div>
    </div>
  </div>
</div>
