<%= turbo_frame_tag conselhoclass do %>
  <div class="conselhoclass-card">
    <div class="row match-height">
      <p>
      <div class="col-2"><b><%= conselhoclass.sigla %></b></div>
      <div class="col-6"> <%= conselhoclass.nome %></div>
      <div class="col-4">
        <%= link_to "Editar", edit_conselhoclass_path(conselhoclass), class: "btn btn-primary" %>
        <%= button_to "Excluir", conselhoclass, form: { data: { turbo_confirm: "Você tem certeza que deseja excluir?" } }, method: :delete,  class: "btn btn-danger" %>
      </div>
      </p>
    </div>
  </div>
<% end %>

